# OpenAI key
OPENAI_KEY="kety"

# Path for images processed by the model
IMAGES_PATH="/Users/ethanburgess/Desktop/UTS/sem22024/sis/SIS15/tempFiles"

# Path for the model
MODEL_PATH="/Users/ethanburgess/Desktop/UTS/sem22024/classification_part/best.pth"